#camera {
  width: 400px;
  height: 300px;
  background-color: blue;
}

#output {
  width: 400px;
  height: 300px;
  background-color: green;
}

#rig_container {
  display: inline-block;
  width: 400px;
  height: 300px;
  background-color: red;
}

.App {
  text-align: center;
}
